main{
    display: block;
    height: 100%;
    width: Calc(100% - 300px);
}

main .main-content{
    padding: 30px;
    width: 100%;
    height: Calc(100% - 90px);
    overflow-y: auto;
}

.main-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.main-content::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, black),
									   color-stop(0.72, black),
									   color-stop(0.86, black));
}

.main-content .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.bannerhome{
    backdrop-filter: Blur(40px);
    color: black;
    border: 1px solid rgba(0, 0, 0, .0625);

    width: 100%;
    height: auto;
    padding-top: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.bannerhome h1,
.bannerhome h4,
.bannerhome p,
.bannerhome ul{
    padding: 10px;
}

.bannerhome ul{
    display: flex;
    flex-direction: row; 
    list-style: none; 
    padding-left: 0px;
}

.panel2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
    
    backdrop-filter: Blur(40px);
    border: 1px solid rgba(0, 0, 0, .0625);
}

.panel2 form{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    backdrop-filter: Blur(20px);
    position: relative;

    display: none;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 4;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    backdrop-filter: Blur(20px);
    color: white;
  }

  .panel3{
    backdrop-filter: Blur(40px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .sho-title{
       padding-top: 20px;
       text-align: center;
   }

   .sho-title h2{
       color: black;
       font-weight: bold;
       text-transform: uppercase;
   }

.sho-items{
    display: grid;
    grid-template-columns: 400px 400px;
    padding: 10px;
}



  /* BOX EFFECT */

  .box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background-color: #0f0f0f;
    border-radius: 20px;
    transform-style: preserve-3d;

    padding: 10px;

}

.box::before{
    content: 'Junk';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3em;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    transition: 0.5s;

}

.box::after{
    content: 'Machine';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 3em;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    transition: 0.5s;

}

.box:hover::before,
.box:hover::after{
    opacity: 0.05;
}

.box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;

    font-size: 18px;
}

.box:hover .name{
    top: 40px;
    opacity: 1;
}

.box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%, 0, 75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.box:hover .buy{
    bottom: 30px;
    opacity: 1;
}

.box .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: gray;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%, -50%, 50px);
  
}

.box .product{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 400px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}

.box:hover .product{
    transform: translate3d(-50%, -50%, 100px);
}

.buttoncadser{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}





@media screen and (max-width: 650px){
    .bannerhome ul{
        display: grid;
        grid-template-columns: 80px 80px;
    }
    .banner ul li:first-child{
        padding-left: 10px;
    }
    sidebar{
        display: none;
    }
    main{
        width: 100%;
    }
    main .xh{
        display: none;
    }
    .topnav{
        display: block;
    }
    .topnav a.icon {
        background-color: black;
        border-radius: 100%;
        color: white;
        display: block;
        position: absolute;
        right: 4;
        top: 4;
    }
    #myLinks .done{
          background-color: black;
          color: white;
    }
    .sho-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{
        width: 250px;
        height: 400px;
    }
    .box .circle{
        width: 150px;
        height: 150px;
    }
    .box .product{
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 200px;
    }
    .panel2 form{
        width: 100%;
    }
    .cybr4{

    }
    .topnav a:first-child{
        text-decoration: none;
        font-size: 22px;
        color: black;
    }
    main{
        width: 100%;
        height: Calc(100% - 33px);
    }

}

@media screen and (max-width: 320px){
    .bannerhome ul{
        display: grid;
        grid-template-columns: 90px 90px;
    }
    .banner ul li:first-child{
        padding-left: 10px;
    }
    sidebar{
        display: none;
    }
    main{
        width: 100%;
    }
    main .xh{
        display: none;
    }
    .topnav{
        display: block;
    }
    .topnav a.icon {
        background-color: black;
        border-radius: 100%;
        color: white;
        display: block;
        position: absolute;
        right: 4;
        top: 4;
    }
    #myLinks .done{
          background-color: black;
          color: white;
    }
    .sho-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{
        width: 210px;
        height: 400px;
    }
   

    .topnav a:first-child{
        text-decoration: none;
        font-size: 22px;
        color: black;
    }
    main{
        width: 100%;
        height: Calc(100% - 33px);
    }
    .buttoncadser{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}