<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/fontawesome/css/fontawesome.min.css">
        <title>Dashboard</title>
    </head>
    <body>
        <div class="register-parent">
            <div class="register">
                <div class="register-title">
                    <div class="register-title-bar">
                        <h2>Cadastro</h2>
                        <a href="../index.html">Cancelar</a>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Coloque o seu nome">
                    </div>
                    <div class="form-group">
                        <label for="age">Idade</label>
                        <input type="number" class="form-control" id="age" aria-describedby="emailHelp" placeholder="Idade">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gênero</label>
                        <select class="form-control" id="gender" >
                          <option>Masculino</option>
                          <option>Feminino</option>
                          <option>Não quero dizer</option>
                        </select>
                      </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Digite um email">
                    </div>
                    <div class="form-group">
                      <label for="senha">Senha</label>
                      <input type="password" class="form-control" id="senha" placeholder="Digite uma senha">
                    </div>
                    <button onclick="loginjulyan();return false" class="cybr4">
                        Cadastrar<span aria-hidden>_</span>
                        <span aria-hidden class="cybr4__glitch">Cadastrar_</span>
                        <span aria-hidden class="cybr4__tag">R25</span>
                     </button>
                  </form>
            </div>
        </div>

        <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/fontawesome/js/all.min.js"></script>
    </body>
</html>